.container {
  padding: 60px 0 0 0;
}

.search-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 40px;
  flex-wrap: wrap;
}

.first-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: rgba(79, 79, 79, 0.07) 0px 4px 10px;
  background-color: white;
  transition: width 100ms ease-in-out;
  width: 60vw;
  padding: 20px;
  z-index: 4;
}

.second-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: rgba(79, 79, 79, 0.07) 0px 4px 10px;
  background-color: white;
  transition: width 100ms ease-in-out;
  width: 30vw;
  padding: 2rem;
  height: 500px;
  z-index: 4;
}

.history-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(79, 79, 79, 0.07) 0px 4px 10px;
  background-color: rgb(187, 183, 186);
  transition: width 100ms ease-in-out;
  width: 100%;
  padding: 2rem;
  height: 100%;
  border-radius: 5px;
  z-index: 4;
  color: purple;
}

.titles {
  font-family: Roboto;
  font-size: 1.2rem;
  line-height: 2.3rem;
}

.title-feature {
  font-family: Roboto;
  font-size: 1.5rem;
  color: white;
}

.desc {
  font-size: 13px;
  font-family: Roboto;
}

.desc-cont {
  margin-top: -20px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 5px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.switchs {
  background-color: purple;
}

.search-feature {
  margin-top: 10px;
}

.search-feature-title {
  font-family: Roboto;
  font-size: 1.3rem;
  color: purple;
}

.divider {
  width: 100%;
  margin-top: -10px;
}

.feature-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: rgba(79, 79, 79, 0.07) 0px 4px 10px;
  background-color: #fff;
  transition: width 100ms ease-in-out;
  width: 180px;
  height: 280px;
  z-index: 4;
}

.feature-header {
  background-color: purple;
  height: 120px;
  width: 100%;
}

.feature-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  gap: 10px;
}

.feature-content-btn {
  margin-top: 10px;
}

@media screen and (max-width: 967px) {
  .search-info-container {
    padding: 10px;
  }
  .second-container {
    display: none;
  }

  .first-container {
    flex-wrap: wrap;
    width: 100vw;
  }

  .flex {
    flex-wrap: wrap;
  }

  .feature-container {
    width: 100%;
    height: 280px;
  }
}
