@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 234, 242);
  text-align: center;
}
.main-view {
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.main-view-overlay {
  background-color: rgb(247, 234, 242);
  /*background-color: rgb(236, 221, 236);*/
  opacity: 0.9;
  width: 100vw;
}


.logo1 {
  list-style-type: none;
  float: left;
  padding-left: 20px;
}


.h1-header {
  font-size: 3.6em;
  margin: 60px 0 0 0;
  padding-top: 60px;
  text-align: center;
}

.head {
  background-color: white;
  height: 50px;
  width: 100%;
}

#p-header {
  font-size: 1.2em;
  margin-left: 70px;
  float: left;
  font-style: italic;
}

.b-header {
  margin-left: 70px;
  float: left;
  font-style: italic;
}

.inputs {
  width: 30%;
  border-color: purple;
  height: 40px;
  text-align: center;
  font-size: 1.7em;
  font-style: italic;
  margin: 150px 0 0 540px;
}

.input {
  width: 70%;
  border-color: purple;
  height: 40px;
  text-align: center;
  font-size: 1.7em;
  font-style: italic;
}


.login-style {
  width: 100%;
  margin-top: 200px;
}

#btn-all  {
  font-size: 1.3em;
  font-weight: 700;
  background-color: rgb(247, 234, 242);
}

#btn-all:hover {
  color: black;
  background-color: rgb(223, 96, 223);
  border-color: black;
}

.btn-details {
  margin-top: 20px;
}

.btn-detailss {
  margin-top: 35px;
}

.select {
  width: 120px;
  border-color: purple;
  color: purple;
}

#desc {
  margin-top: 1px;
}

.select:hover {
  color: purple;
  border-color: purple;
}

.span {
  color: purple;
}

.footer {
  font-size: 1.3em;
  margin-top: 15px;
  color: purple;
  text-align: center;
  cursor: pointer;
}

.per {
  background-color: rgb(245, 170, 245);
  width: 70%;
  margin: auto;
}

.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  text-align: center;
  justify-items: center;
  background-color: rgb(245, 170, 245);
  height: 170px;
  width: 70%;
  margin: auto;
  padding-top: 20px 0 20px 0;
  cursor: pointer;
}

.results:hover {
  color: purple;
}

.cover {
  text-align: center;
  display: inline-block;
  
}

#name {
  font-size: 1.6em;
  font-weight: bold;
}

#period {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

#add {
  font-size: 17px;
  text-align: center;
  font-style: italic;
}

#text {
  font-size: 1.4em;
  padding: 15px 0 0 20px;
  line-height: 35px;
  font-weight: 700;
  margin-top: 20px;
}

#address {
  font-size: 1.7em;
}

.spinner {
  color: purple;
  margin-top: 50px;
}

.icon {
  height: 100px;
  font-size: 10px;
  color: purple;
}

#load {
  text-align: center;
  margin-top: 300px;
}

.div {
  height: 5px;
  color: black;
}

.btn {
  color: purple;
  height: 31px;
  border-color: purple;
}

.image {
  margin: 50px 0 0 70px;
}


.btn:hover {
  color: purple;
  border-color: purple;
}

.so {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.main {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.arrow {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px 0 10px;
}

.add {
  list-style-type: none;
  font-size: 1.5em;
  font-weight: bold;
}

.title {
  font-size: 4em;
  color: purple;
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.detail {
  padding-bottom: 10px;
  font-size: 1.3em;
}

.auto-complete {
  width: 600px;
  border-color: purple
}


@media screen and (min-width: 320px) and (max-width: 374px) {

  #text {
    font-size: 15px;
    padding: 30px 0px 0 0;
  }

  #p-header {
    font-size: 1.2em;
    margin-left: 50px;
    float: left;
    font-style: italic;
  }

  .h1-header {
    font-size: 2em;
    margin-left: 50px;
    padding: 5px;
  }

  .b-header {
    margin-left: 50px;
    font-style: italic;
  }

  #add {
    visibility: hidden;
   }

   .per {
    width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 375px) and (max-width: 599px) {
  .input {
    width: 50%;
    border-color: purple;
    height: 50px;
    text-align: center;
    font-size: 1em;
  }

  #text {
    font-size: 1.2em;
  }

  #add {
   visibility: hidden;
  }

  .h1-header {
    font-size: 2.5em;
    line-height: 50px;
    margin: 80px 0 0 80px;
    padding-top: 20px;
    text-align: center;
  }

  #p-header {
    font-size: 1.2em;
    margin-left: 80px;
    float: left;
    font-style: italic;
  }

  .b-header {
    margin-left: 80px;
    float: left;
    font-style: italic;
  }
  
  .results {
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    height: 120px;
    width: 100%; 
    grid-gap: 10px;
    padding-bottom: 60px;
  }

  .footer {
    visibility: hidden;
  }

  .image {
    visibility: hidden;;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {

  #text {
    font-size: 15px;
    padding: 30px 0px 20px 20px;
  }

  #p-header {
    font-size: 1.9em;
    font-style: italic;
    margin-left: 10px;
  }

  .h1-header {
    font-size: 5em;
    margin: 190px 0 0 10px;
    padding: 5px;
  }


  .b-header {
    font-style: italic;
    margin-left: 190px;
    text-align: center;
  }

  .so {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .image {
    visibility: hidden;
  }

  #add {
   visibility: hidden;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1190px) {
  .so {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .image {
    visibility: hidden;
  }

  #p-header {
    font-size: 1.9em;
    font-style: italic;
    margin-left: 20px;
  }

  .h1-header {
    font-size: 6em;
    margin: 190px 0 0 10px;
    padding: 5px;
  }
  
  #text {
    font-size: 1.4em;
  }

  .b-header {
    font-style: italic;
    margin-left: 250px;
    text-align: center;
  }

  .results {
    width: 85%;
  }

  #add {
    visibility: hidden;
   }
}
