@import "~antd/dist/antd.css";

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./Fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./Fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./Fonts/Roboto-Black.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: purple;
  border-color: purple;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: purple;
  border-color: purple;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: purple;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: purple;
  pointer-events: none;
}

.ant-switch-checked {
  background-color: purple;
}

.ant-radio-checked .ant-radio-inner {
  border-color: purple !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: purple;
}

.ant-radio:hover .ant-radio-inner {
  border-color: purple;
}

.ant-radio-checked .ant-radio-inner:focus {
  border-color: purple;
}

.ant-btn {
  border-color: purple;
  color: purple;
}

.ant-btn:hover {
  border-color: purple;
  color: purple;
}

.ant-btn:active {
  border-color: purple;
  color: purple;
}

.ant-btn:focus {
  border-color: purple;
  color: purple;
}

[data-theme="compact"]
  .site-collapse-custom-collapse
  .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 10px;
  overflow: hidden;
  background: #f7f7f7;
  border: 0px;
  border-radius: 2px;
  width: 100%;
}

#period {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.auth {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 1.5em;
}
