@import '~antd/dist/antd.css';

.main-view {
  height: 100vh;
  background-image: url(../src/images/images.png);
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
}

.main-view-overlay {
  background-color: rgb(243, 243, 243);
  opacity: 0.9;
  height: 100vh;
  width: 100vw;
}

.logo {
  float: left;
  color: purple;
  padding: 5px 0 0 30px;
}

.logo {
  float: right;
  color: purple;
  padding: 5px 0 0 30px;
}

.logo1 {
  float: left;
  list-style-type: none;
  padding-right: 20px;
}


.h1-header {
  font-size: 4em;
  margin-top: 60px;
  padding-top: 60px;
  text-align: center;
}

.input {
  width: 50%;
  border-color: purple;
  height: 50px;
  text-align: center;
  font-size: 1.7em;
}

.select {
  width: 120px;
  border-color: purple;
  color: purple;
}

.select:hover {
  color: purple;
}

.span {
  color: purple;
}

@media screen and (max-width: 768px) {
  .input {
    width: 50%;
    border-color: purple;
    height: 50px;
    text-align: center;
    font-size: 1em;
  }
}

.footer {
  font-size: 1em;
  margin-top: 350px;
  color: purple;
  text-align: center;
}

