@import '~antd/dist/antd.css';

body {
  background-color: rgb(247, 234, 242);
}
.main-view {
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.main-view-overlay {
  background-color: rgb(247, 234, 242);
  /*background-color: rgb(236, 221, 236);*/
  opacity: 0.9;
  width: 100vw;
}


.logo1 {
  list-style-type: none;
  float: left;
  padding-left: 20px;
}


.h1-header {
  font-size: 4.1em;
  margin: 60px 0 0 70px;
  padding-top: 60px;
  text-align: center;
}

.head {
  background-color: white;
  height: 50px;
  width: 100%;
}

#p-header {
  font-size: 1.2em;
  margin-left: 75px;
  float: left;
  font-style: italic;
}

.b-header {
  margin-left: 75px;
  float: left;
  font-style: italic;
}

.input {
  width: 70%;
  border-color: purple;
  height: 40px;
  text-align: center;
  font-size: 1.7em;
}

#btn-all  {
  font-size: 1.3em;
  font-weight: 700;
  background-color: rgb(247, 234, 242);
}

#btn-all:hover {
  color: black;
  background-color: rgb(223, 96, 223);
  border-color: black;
}

.btn-details {
  margin-top: 30px;
}

.select {
  width: 120px;
  border-color: purple;
  color: purple;
}

.select:hover {
  color: purple;
  border-color: purple;
}

.span {
  color: purple;
}

@media screen and (max-width: 768px) {
  .input {
    width: 50%;
    border-color: purple;
    height: 50px;
    text-align: center;
    font-size: 1em;
  }

  #text {
    font-size: 1em;
  }
  
  

  .results {
    text-align: center;
    /*background-color: rgb(245, 170, 245);*/
    height: 150px;
    margin: 20px 220px 0 0 ;
    width: 100%;
  
    
  }
}

.footer {
  font-size: 1.3em;
  margin-top: 70px;
  color: black;
  text-align: center;
}

.results {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  text-align: center;
  justify-items: center;
  background-color: rgb(245, 170, 245);
  height: 120px;
  width: 70%;
  margin: auto;
  padding-top: 20px 0 20px 0;
  cursor: pointer;
}

.results:hover {
  color: purple;
}

.cover {
  text-align: center;
  display: inline-block;
  
}

#name {
  font-size: 1.6em;
  font-weight: bold;
}

#text {
  font-size: 1.5em;
  padding: 30px 0px 20px 20px;
}

#address {
  font-size: 1.7em;
}

.spinner {
  color: purple;
  margin-top: 50px;
}

.icon {
  height: 100px;
  font-size: 10px;
  color: purple;
}

.div {
  height: 5px;
  color: black;
}

.btn {
  color: purple;
  height: 40px;
  border-color: purple;
}

.image {
  margin: 50px 0 0 70px;
}


.btn:hover {
  color: purple;
  border-color: purple;
}

.so {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.main {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.arrow {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px 0 10px;
}

.add {
  list-style-type: none;
  font-size: 1.5em;
  font-weight: bold;
}

.title {
  font-size: 4em;
  color: purple;
}
