@import '~antd/dist/antd.css';

.main-view {
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
}

.main-view-overlay {
  background-color: rgb(247, 234, 242);
  /*background-color: rgb(236, 221, 236);*/
  opacity: 0.9;
  width: 100vw;
}

.logo {
  float: left;
  color: purple;
  padding: 5px 0 0 30px;
}

.logo {
  float: right;
  color: purple;
  padding: 5px 0 0 30px;
}

.logo1 {
  float: left;
  list-style-type: none;
  padding-right: 20px;
}


.h1-header {
  font-size: 4em;
  margin-top: 60px;
  padding-top: 60px;
  text-align: center;

}

.input {
  width: 50%;
  border-color: purple;
  height: 50px;
  text-align: center;
  font-size: 1.7em;
}

.select {
  width: 120px;
  border-color: purple;
  color: purple;
}

.select:hover {
  color: purple;
  border-color: purple;
}

.span {
  color: purple;
}

@media screen and (max-width: 768px) {
  .input {
    width: 50%;
    border-color: purple;
    height: 50px;
    text-align: center;
    font-size: 1em;
  }

  #text {
    font-size: 1em;
  }
  
  

  .results {
    text-align: center;
    /*background-color: rgb(245, 170, 245);*/
    height: 150px;
    margin: 20px 220px 0 0 ;
    width: 100%;
    padding: 0 5px 100px 5px;
    
  }
}

.footer {
  font-size: 1.3em;
  margin-top: 370px;
  color: black;
  text-align: center;
}

.results {
  text-align: center;
  background-color: rgb(245, 170, 245);
  height: 200px;
  width: 100%;
  padding-top: 0 0 20px 0;
  cursor: pointer;
}

.results:hover {
  color: purple;
}

.cover {
  text-align: center;
  display: inline-block;
  
}

#name {
  font-size: 2em;
  font-weight: bold;
}

#text {
  padding: 20px 0px 20px 20px;
}

#address {
  font-size: 1.7em;
}

.spinner {
  color: purple;
  margin-top: 50px;
}

.icon {
  height: 100px;
  font-size: 40px;
  color: purple;
}

.div {
  height: 5px;
  color: black;
}

.btn {
  color: purple;
  height: 70px;
  border-color: purple;
}

.btn:hover {
  color: purple;
  border-color: purple;
}

.main {
  margin-top: 5px;
}

.arrow {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px 0 10px;
}

.add {
  list-style-type: none;
  font-size: 1.5em;
  font-weight: bold;
}